<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <title>
        Recommendation System
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="{{ url_for('static', filename='assets/css/nucleo-icons.css') }}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='assets/css/blk-design-system.css') }}" rel="stylesheet" />
</head>

<body class="profile-page">
    <script>
        function validate() {
            var checkboxes=document.getElementsByName("product");
            var okay=false;
            for(var i=0,l=checkboxes.length;i<l;i++)
            {
                if(checkboxs[i].checked)
                {
                    okay=true;
                    break;
                }
            }
            if(okay)alert("Thank you for checking a checkbox");
            else alert("Please check a checkbox");
        }
    </script>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="./" rel="tooltip" title="Home" data-placement="bottom">
                    <span>Recommendation•</span> System
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a>
                Reccomendation•
              </a>
                        </div>
                        <div class="col-6 collapse-close text-right">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item p-0">
                        <a class="nav-link" rel="tooltip" title="Follow me on Github" data-placement="bottom" href="https://github.com/ashsometimes" target="_blank">
                            <i class="fab fa-github"></i>
                            <p class="d-lg-none d-xl-none">Github</p>
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <a class="nav-link" rel="tooltip" title="Follow me on Linkedin" data-placement="bottom" href="https://linkedin.com/in/aishwarya-b-sahoo" target="_blank">
                            <i class="fab fa-linkedin"></i>
                            <p class="d-lg-none d-xl-none">Linkedin</p>
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <a class="nav-link" rel="tooltip" title="Follow me on Gitlab" data-placement="bottom" href="https://gitlab.com/ashsometimes" target="_blank">
                            <i class="fab fa-gitlab"></i>
                            <p class="d-lg-none d-xl-none">Gitlab</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="section">
            <div class="container">
                <div class="row justify-content-between">

                    <div class="col-md-12">
                        <h1 class="profile-title text-left">Buy</h1>
                        <h5 class="text-on-back">Buy</h5>
                        <form method="POST" action="{{ url_for('buy')}}">
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='flax seed'><span class='form-check-sign'></span> Flax seed </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='energy drink'><span class='form-check-sign'></span> Energy drink </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='mint'><span class='form-check-sign'></span> Mint </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='french wine'><span class='form-check-sign'></span> French wine </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='champagne'><span class='form-check-sign'></span> Champagne </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='energy bar'><span class='form-check-sign'></span> Energy bar </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='gums'><span class='form-check-sign'></span> Gums </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='mashed potato'><span class='form-check-sign'></span> Mashed potato </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='frozen smoothie'><span class='form-check-sign'></span> Frozen smoothie </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='bug spray'><span class='form-check-sign'></span> Bug spray </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='chutney'><span class='form-check-sign'></span> Chutney </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='low fat yogurt'><span class='form-check-sign'></span> Low fat yogurt </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='brownies'><span class='form-check-sign'></span> Brownies </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='strong cheese'><span class='form-check-sign'></span> Strong cheese </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='tomato juice'><span class='form-check-sign'></span> Tomato juice </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='tomatoes'><span class='form-check-sign'></span> Tomatoes </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='bramble'><span class='form-check-sign'></span> Bramble </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='cookies'><span class='form-check-sign'></span> Cookies </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='candy bars'><span class='form-check-sign'></span> Candy bars </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='butter'><span class='form-check-sign'></span> Butter </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='mineral water'><span class='form-check-sign'></span> Mineral water </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='magazines'><span class='form-check-sign'></span> Magazines </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='grated cheese'><span class='form-check-sign'></span> Grated cheese </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='white wine'><span class='form-check-sign'></span> White wine </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='cereals'><span class='form-check-sign'></span> Cereals </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='ham'><span class='form-check-sign'></span> Ham </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='ketchup'><span class='form-check-sign'></span> Ketchup </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='mushroom cream sauce'><span class='form-check-sign'></span> Mushroom cream sauce </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='chocolate'><span class='form-check-sign'></span> Chocolate </label></div>

                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='red wine'><span class='form-check-sign'></span> Red wine </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='gluten free bar'><span class='form-check-sign'></span> Gluten free bar </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='nonfat milk'><span class='form-check-sign'></span> Nonfat milk </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='protein bar'><span class='form-check-sign'></span> Protein bar </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='soda'><span class='form-check-sign'></span> Soda </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='asparagus'><span class='form-check-sign'></span> Asparagus </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='barbecue sauce'><span class='form-check-sign'></span> Barbecue sauce </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='almonds'><span class='form-check-sign'></span> Almonds </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='french fries'><span class='form-check-sign'></span> French fries </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='milk'><span class='form-check-sign'></span> Milk </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='sandwich'><span class='form-check-sign'></span> Sandwich </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='eggplant'><span class='form-check-sign'></span> Eggplant </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='cottage cheese'><span class='form-check-sign'></span> Cottage cheese </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='parmesan cheese'><span class='form-check-sign'></span> Parmesan cheese </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='oil'><span class='form-check-sign'></span> Oil </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='hot dogs'><span class='form-check-sign'></span> Hot dogs </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='babies food'><span class='form-check-sign'></span> Babies food </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='honey'><span class='form-check-sign'></span> Honey </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='napkins'><span class='form-check-sign'></span> Napkins </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='body spray'><span class='form-check-sign'></span> Body spray </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='dessert wine'><span class='form-check-sign'></span> Dessert wine </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='muffins'><span class='form-check-sign'></span> Muffins </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='light mayo'><span class='form-check-sign'></span> Light mayo </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='corn'><span class='form-check-sign'></span> Corn </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='avocado'><span class='form-check-sign'></span> Avocado </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='salt'><span class='form-check-sign'></span> Salt </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='pickles'><span class='form-check-sign'></span> Pickles </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='tea'><span class='form-check-sign'></span> Tea </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='turkey'><span class='form-check-sign'></span> Turkey </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='whole weat flour'><span class='form-check-sign'></span> Whole weat flour </label></div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='chocolate bread'><span class='form-check-sign'></span> Chocolate bread </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='olive oil'><span class='form-check-sign'></span> Olive oil </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='meatballs'><span class='form-check-sign'></span> Meatballs </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='cream'><span class='form-check-sign'></span> Cream </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='green beans'><span class='form-check-sign'></span> Green beans </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='eggs'><span class='form-check-sign'></span> Eggs </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='herb & pepper'><span class='form-check-sign'></span> Herb & pepper </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='sparkling water'><span class='form-check-sign'></span> Sparkling water </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='spinach'><span class='form-check-sign'></span> Spinach </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='rice'><span class='form-check-sign'></span> Rice </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='fresh tuna'><span class='form-check-sign'></span> Fresh tuna </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='cake'><span class='form-check-sign'></span> Cake </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='fresh bread'><span class='form-check-sign'></span> Fresh bread </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='burger sauce'><span class='form-check-sign'></span> Burger sauce </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='cider'><span class='form-check-sign'></span> Cider </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='chicken'><span class='form-check-sign'></span> Chicken </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='zucchini'><span class='form-check-sign'></span> Zucchini </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='oatmeal'><span class='form-check-sign'></span> Oatmeal </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='escalope'><span class='form-check-sign'></span> Escalope </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='carrots'><span class='form-check-sign'></span> Carrots </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='pet food'><span class='form-check-sign'></span> Pet food </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='bacon'><span class='form-check-sign'></span> Bacon </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='salad'><span class='form-check-sign'></span> Salad </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='whole wheat pasta'><span class='form-check-sign'></span> Whole wheat pasta </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='melons'><span class='form-check-sign'></span> Melons </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='whole wheat rice'><span class='form-check-sign'></span> Whole wheat rice </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='soup'><span class='form-check-sign'></span> Soup </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='mint green tea'><span class='form-check-sign'></span> Mint green tea </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='tomato sauce'><span class='form-check-sign'></span> Tomato sauce </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='toothpaste'><span class='form-check-sign'></span> Toothpaste </label></div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='pancakes'><span class='form-check-sign'></span> Pancakes </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='cauliflower'><span class='form-check-sign'></span> Cauliflower </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='pepper'><span class='form-check-sign'></span> Pepper </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='strawberries'><span class='form-check-sign'></span> Strawberries </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='cooking oil'><span class='form-check-sign'></span> Cooking oil </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='fromage blanc'><span class='form-check-sign'></span> Fromage blanc </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='antioxydant juice'><span class='form-check-sign'></span> Antioxydant juice </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='green tea'><span class='form-check-sign'></span> Green tea </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='yogurt cake'><span class='form-check-sign'></span> Yogurt cake </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='blueberries'><span class='form-check-sign'></span> Blueberries </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='chili'><span class='form-check-sign'></span> Chili </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='light cream'><span class='form-check-sign'></span> Light cream </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='shrimp'><span class='form-check-sign'></span> Shrimp </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='mayonnaise'><span class='form-check-sign'></span> Mayonnaise </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='ground beef'><span class='form-check-sign'></span> Ground beef </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='burgers'><span class='form-check-sign'></span> Burgers </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='salmon'><span class='form-check-sign'></span> Salmon </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='water spray'><span class='form-check-sign'></span> Water spray </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='black tea'><span class='form-check-sign'></span> Black tea </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='yams'><span class='form-check-sign'></span> Yams </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='shampoo'><span class='form-check-sign'></span> Shampoo </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='green grapes'><span class='form-check-sign'></span> Green grapes </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='hand protein bar'><span class='form-check-sign'></span> Hand protein bar </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='shallot'><span class='form-check-sign'></span> Shallot </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='vegetables mix'><span class='form-check-sign'></span> Vegetables mix </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='pasta'><span class='form-check-sign'></span> Pasta </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='clothes accessories'><span class='form-check-sign'></span> Clothes accessories </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='spaghetti'><span class='form-check-sign'></span> Spaghetti </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='frozen vegetables'><span class='form-check-sign'></span> Frozen vegetables </label></div>
                                    <div class='form-check'><label class='form-check-label'><input class='form-check-input' type='checkbox' name='product' value='extra dark chocolate'><span class='form-check-sign'></span> Extra dark chocolate </label></div>
                                </div>
                            </div>
                            <div class="btn-wrapper pt-3">
                                <button type="submit" class="btn btn-simple btn-primary" onsubmit="validate()">
                                    <i class="tim-icons icon-book-bookmark"></i> Buy
                                </button>
                                </form>
                                <a href="./mine" class="btn btn-simple btn-info">
                                    <i class="tim-icons icon-bulb-63"></i> Check Rules!
                                </a>
                            </div>
                            <div style="margin-top: 3%" class="container">
                                <h3 style="text-primary">{{rec_text}}</h3>
                                {% for product in products %}
                                    <span class="badge badge-warning">{{product}}</span>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-4 ">
                        <h1 class="title ">Recommendation System</h1>
                    </div>
                    <div class="col-md-4 ">
                        <ul class="nav ">
                            <li class="nav-item ">
                                <a href="./" class="nav-link ">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a href="./buy" class="nav-link ">API</a>
                            </li>
                            <li class="nav-item ">
                                <a href="./mine" class="nav-link ">Rules</a>
                            </li>
                            <li class="nav-item ">
                                <a href="https://aishwarya.urspace.io " class="nav-link " target="_blank ">Portfolio</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 ">
                        <h3 class="title ">Follow:</h3>
                        <div class="btn-wrapper profile ">
                            <a target="_blank " href="https://github.com/ashsometimes " class="btn btn-icon btn-neutral btn-round btn-simple " data-toggle="tooltip " data-original-title="Follow me on GitHub">
                                <i class="fab fa-github "></i>
                            </a>
                            <a target="_blank " href="https://linkedin.com/in/aishwarya-b-sahoo " class="btn btn-icon btn-neutral btn-round btn-simple " data-toggle="tooltip " data-original-title="Follow me on LinkedIn">
                                <i class="fab fa-linkedin "></i>
                            </a>
                            <a target="_blank " href="https://gitlab.com/ashsometimes " class="btn btn-icon btn-neutral btn-round btn-simple " data-toggle="tooltip " data-original-title="Follow me on GitLab">
                                <i class="fab fa-gitlab "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--   Core JS Files   -->
    <script src="{{ url_for( 'static', filename='assets/js/blk-design-system.min.js' ) }} type=" text/javascript ">
            </script>
            <script src="{{ url_for( 'static', filename='assets/js/core/jquery.min.js' ) }} " type="text/javascript "></script>
            <script src="{{ url_for( 'static', filename='assets/js/core/popper.min.js' ) }} " type="text/javascript "></script>
            <script src="{{ url_for( 'static', filename='assets/js/core/bootstrap.min.js' ) }} " type="text/javascript "></script>
            <script src="{{ url_for( 'static', filename='assets/js/plugins/perfect-scrollbar.jquery.min.js' ) }} "></script>
            <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
            <script src="{{ url_for( 'static', filename='assets/js/plugins/bootstrap-switch.js' ) }} "></script>
            <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
            <script src="{{ url_for( 'static', filename='assets/js/plugins/nouislider.min.js' ) }} " type="text/javascript "></script>
            <!-- Chart JS -->
            <script src="{{ url_for( 'static', filename='assets/js/plugins/chartjs.min.js' ) }} "></script>
            <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
            <script src="{{ url_for( 'static', filename='assets/js/plugins/moment.min.js' ) }} "></script>
            <script src="./assets/js/plugins/bootstrap-datetimepicker.js " type="text/javascript "></script>
            <!-- Black Dashboard DEMO methods, don't include it in your project! -->
            <script src="{{ url_for( 'static', filename='assets/demo/demo.js' ) }} "></script>
            <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
            <script src="{{ url_for( 'static', filename='assets/js/blk-design-system.min.js' ) }} " type="text/javascript "></script>

</body>
</html>