<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <title>
        Recommendation System
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="{{ url_for('static', filename='assets/css/nucleo-icons.css') }}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='assets/css/blk-design-system.css') }}" rel="stylesheet" />
</head>
<style>
    table {
        width: 100%;
        table-layout: fixed;
    }
    
    .tbl-header {
        background-color: rgba(255, 255, 255, 0.3);
    }
    
    .tbl-content {
        height: 300px;
        overflow-x: auto;
        margin-top: 0px;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    
    th {
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
    }
    
    td {
        padding: 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }
    /* demo styles */
    
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    section {
        margin: 50px;
    }
    /* for custom scrollbar for webkit browser*/
    
     ::-webkit-scrollbar {
        width: 6px;
    }
    
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
     ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
</style>
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="./" rel="tooltip" title="Home" data-placement="bottom" target="_blank">
                <span>Recommendation•</span> System
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a>
                Reccomendation•
              </a>
                    </div>
                    <div class="col-6 collapse-close text-right">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item p-0">
                    <a class="nav-link" rel="tooltip" title="Follow me on Github" data-placement="bottom" href="https://github.com/ashsometimes" target="_blank">
                        <i class="fab fa-github"></i>
                        <p class="d-lg-none d-xl-none">Github</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" rel="tooltip" title="Follow me on Linkedin" data-placement="bottom" href="https://linkedin.com/in/aishwarya-b-sahoo" target="_blank">
                        <i class="fab fa-linkedin"></i>
                        <p class="d-lg-none d-xl-none">Linkedin</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" rel="tooltip" title="Follow me on Gitlab" data-placement="bottom" href="https://gitlab.com/ashsometimes" target="_blank">
                        <i class="fab fa-gitlab"></i>
                        <p class="d-lg-none d-xl-none">Gitlab</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--for demo wrap-->
<div class="wrapper">
    <div class="section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-12">
                    <h1 class="profile-title text-left">Association Rule Mining</h1>
                    <h5 class="text-on-back">Apriori</h5>
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                {% for col in column_names %}
                                <th class='header text-primary'>{{col}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            {% for row in row_data %}
                            <tr>
                                {% for col, row_ in zip(column_names, row) %}
                                <td>
                                    {{ row_ }}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-4 ">
                <h1 class="title ">Recommendation System</h1>
            </div>
            <div class="col-md-4 ">
                <ul class="nav ">
                    <li class="nav-item ">
                        <a href="./" class="nav-link ">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a href="./buy" class="nav-link ">API</a>
                    </li>
                    <li class="nav-item ">
                        <a href="./mine" class="nav-link ">Rules</a>
                    </li>
                    <li class="nav-item ">
                        <a href="https://aishwarya.urspace.io " class="nav-link " target="_blank ">Portfolio</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <h3 class="title ">Follow:</h3>
                <div class="btn-wrapper profile ">
                    <a target="_blank " href="https://github.com/ashsometimes " class="btn btn-icon btn-neutral btn-round btn-simple " data-toggle="tooltip " data-original-title="Follow me on GitHub">
                        <i class="fab fa-github "></i>
                    </a>
                    <a target="_blank " href="https://linkedin.com/in/aishwarya-b-sahoo " class="btn btn-icon btn-neutral btn-round btn-simple " data-toggle="tooltip " data-original-title="Follow me on LinkedIn">
                        <i class="fab fa-linkedin "></i>
                    </a>
                    <a target="_blank " href="https://gitlab.com/ashsometimes " class="btn btn-icon btn-neutral btn-round btn-simple " data-toggle="tooltip " data-original-title="Follow me on GitLab">
                        <i class="fab fa-gitlab "></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--   Core JS Files   -->
<script src={{ url_for( 'static', filename='assets/js/blk-design-system.min.js' ) }} type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/core/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/core/popper.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{{ url_for('static', filename='assets/js/plugins/bootstrap-switch.js') }}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{ url_for('static', filename='assets/js/plugins/nouislider.min.js') }}" type="text/javascript"></script>
<!-- Chart JS -->
<script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{{ url_for('static', filename='assets/js/plugins/moment.min.js') }}"></script>
<script src="./assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!-- Black Dashboard DEMO methods, don't include it in your project! -->
<script src="{{ url_for('static', filename='assets/demo/demo.js') }}"></script>
<!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
<script src="{{ url_for('static', filename='assets/js/blk-design-system.min.js') }}" type="text/javascript"></script>